@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-karla {
    font-family: Karla, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.bg-sidebar {
    background: #c4b5fd;
}

.cta-btn {
    color: #a78bfa;
}

.upgrade-btn {
    background: #a78bfa;
}

.upgrade-btn:hover {
    background: #8b5cf6;
}

.active-nav-link {
    background: #a78bfa;
}

.nav-item:hover {
    background: #a78bfa;
}

.account-link:hover {
    background: #c4b5fd;
}